<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.administrator.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        android:protectionLevel="signature" />

    <application
        android:name=".utils.ApplicationUtil"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon, android:allowBackup, theme, label, android:name">
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateVisible|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.UploadDataActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.BriefOutlineActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.UsageOfLoanActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.PaymentActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.MonthlyAverageFlowActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.AnnualOpeningActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.CardInfoActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.RegisterActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".activity.BrowseRecordActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.ParticularsOfInformationReceivedActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.PersonalDataActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.NameActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.ServiceOrganizationActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.BusinessCooperationActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.SettingsActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.AboutUsActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.FeedBackActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.LockedFilesActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.ParticularsOfInformationLockActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.ParticularsOfInformationMyActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.ParticularsOfInformationDocumentsOfConcernActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.IdActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.MarriageCertificateActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.HouseholdRegistrationBookActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.PropertyOwnershipCertificateActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.CollateralActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.NullLayoutActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.ForgetPasswordActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".activity.ProductionAdjustmentActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.SupplementaryActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.AddSupplementaryActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.AssessmentReportActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.BankRunningWaterActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.CreditReportActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.EnterpriseInformationActivity"
            android:exported="true"
            android:launchMode="singleTask" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/network_security_config" />

        <activity
            android:name=".activity.ModifyServiceOrganizationActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.ModifyPositionActivity"
            android:exported="true"
            android:launchMode="singleTask" />

        <activity
            android:name=".activity.BigImageActivity"
            android:exported="true"
            android:launchMode="singleTask" />
    </application>

</manifest>