<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ipd.yueyue">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        android:protectionLevel="signature" />

    <application
        android:name=".utils.ApplicationUtil"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon, android:allowBackup, theme, label, android:name">
        <meta-data
            android:name="channel"
            android:value="test" />

        <activity
            android:name=".activity.LoginActivity"
            android:windowSoftInputMode="stateVisible|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.UploadDataActivity" />
        <activity android:name=".activity.BriefOutlineActivity" />
        <activity android:name=".activity.UsageOfLoanActivity" />
        <activity android:name=".activity.PaymentActivity" />
        <activity android:name=".activity.MonthlyAverageFlowActivity" />
        <activity android:name=".activity.AnnualOpeningActivity" />
        <activity android:name=".activity.CardInfoActivity" />
        <activity
            android:name=".activity.RegisterActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name=".activity.BrowseRecordActivity" />
        <activity android:name=".activity.ParticularsOfInformationReceivedActivity" />
        <activity android:name=".activity.PersonalDataActivity" />
        <activity android:name=".activity.NameActivity" />
        <activity android:name=".activity.ServiceOrganizationActivity" />
        <activity android:name=".activity.BusinessCooperationActivity" />
        <activity android:name=".activity.SettingsActivity" />
        <activity android:name=".activity.AboutUsActivity" />
        <activity android:name=".activity.FeedBackActivity" />
        <activity android:name=".activity.LockedFilesActivity" />
        <activity android:name=".activity.ParticularsOfInformationLockActivity" />
        <activity android:name=".activity.ParticularsOfInformationMyActivity" />
        <activity android:name=".activity.ParticularsOfInformationDocumentsOfConcernActivity" />
        <activity android:name=".activity.IdActivity" />
        <activity android:name=".activity.MarriageCertificateActivity" />
        <activity android:name=".activity.HouseholdRegistrationBookActivity" />
        <activity android:name=".activity.PropertyOwnershipCertificateActivity" />
        <activity android:name=".activity.CollateralActivity" />
        <activity android:name=".activity.NullLayoutActivity" />
        <activity
            android:name=".activity.ForgetPasswordActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name=".activity.ProductionAdjustmentActivity" />
        <activity android:name=".activity.SupplementaryActivity" />
        <activity android:name=".activity.AddSupplementaryActivity" />
        <activity android:name=".activity.AssessmentReportActivity" />
        <activity android:name=".activity.BankRunningWaterActivity" />
        <activity android:name=".activity.CreditReportActivity" />
        <activity android:name=".activity.EnterpriseInformationActivity" />
        <activity android:name=".activity.ModifyServiceOrganizationActivity" />
        <activity android:name=".activity.ModifyPositionActivity" />
        <activity android:name=".activity.BigImageActivity" />
        <activity android:name=".activity.NullLayoutActivityForReceiveFile" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/network_security_config" />

        <activity android:name=".activity.BriefSummaryActivity"></activity>
    </application>

</manifest>